@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    padding: .5rem .75rem;
    transition: .3s;
}

.btn-xl {
    padding: 1rem 1.5rem;
}

.btn-lg {
    padding: .75rem 1.25rem;
}

.btn-md {
    padding: .5rem 1rem;
}

.btn-sm {
    padding: .25rem .75rem;
}

.btn-primary {
    background-color: rgb(45, 35, 222);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgba(45, 35, 222, .9);
}
.btn-primary.btn-active {
    background-color: rgb(233, 233, 233);
    color: #333;
}

.btn-light {
    background-color: rgb(233, 233, 233);
}
.btn-light.btn-active {
    background-color: rgba(29, 23, 148, 1);
    color: white;
}

.btn-light:hover,
.btn-light:focus {
    background-color: rgba(233, 233, 233, .9);
}


/* Custom Switch Indicator */
.custom-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }

.custom-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-switches-stacked {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .custom-switches-stacked .custom-switch {
    margin-bottom: .5rem; }

.custom-switch-indicator {
  display: inline-block;
  height: 1.25rem;
  width: 2.25rem;
  background: #e9ecef;
  border-radius: 50px;
  position: relative;
  vertical-align: bottom;
  border: 1px solid rgba(0, 40, 100, 0.12);
  transition: .3s border-color, .3s background-color; }
  .custom-switch-indicator:before {
    content: '';
    position: absolute;
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 50%;
    transition: .3s left; }

.custom-switch-input:checked ~ .custom-switch-indicator {
  background: #6777ef; }
  .custom-switch-input:checked ~ .custom-switch-indicator:before {
    left: calc(1rem + 1px); }
.custom-switch-input:focus ~ .custom-switch-indicator {
  border-color: #6777ef; }

.custom-switch-description {
  margin-left: .5rem;
  color: #6e7687;
  transition: .3s color; }

.custom-switch-input:checked ~ .custom-switch-description {
  color: #495057; }


.active_text_color {
    color: green;
}

.inactive_text_color {
    color: red;
}

.italic,
input::placeholder,
textarea::placeholder {
    font-style: italic;
}


#source_word_container,
#target_word_container {
    position: relative;
}

.search_results_list {
    position: absolute;
    background: white;
    color: #333;
    width: 100%;
    max-height: 150px;
    border: 1px solid #e2e1e1ff;
    display: none;
}

.search_results_list li {
    padding-inline: .5rem;
    transition: .3s;
}

.search_results_list li:hover,
.search_results_list li:focus {
    background: #666;
    color: #f9f9f9;
}

.target_words_container {
    border-width: 1px;
    border-color: #6b7280;
    border-radius: 0.25rem;
    background-color: #fff;
    width: 100%;
    color: oklch(21% 0.034 264.665);
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.target_words_list {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.target_word_list_item {
    background-color: #cbcbcbff;
    padding: 2px 0 2px 8px;
    margin-inline: 0 .25rem;
    margin-block: 0 .25rem;
    font-size: .85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .2rem;
    cursor: default;
}

.target_word_list_item > span {
    display: flex;
}

.target_word_list_item span + span {
    align-items: center;
    font-size: 0.7rem;
    cursor: pointer;
}

.target_word_list_item span + span > svg {
    padding: .25rem;
}

.progressbar {
    border: 1px solid green;
    border-radius: 6px;
    text-align: center;
    padding: .25rem;
    position: relative;
    overflow: hidden;
    display: none;
}
.progressbar.visible {
    display: block;
}

.progress_percentage {
    position: relative;
    z-index: 2;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: #09bd0cff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s;
}
